@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make underlines clean for all text */

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px; /* adjust thickness */
  text-underline-offset: 3px; /* moves it further from text */
  text-decoration-skip-ink: auto; /* prevents weird clipping on descenders */
}
